
@mixin modal {
  .overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(201, 199, 199);
    display: flex;
    align-items: center;
    justify-content: center;
    .modal{
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 60%;
      top: 25%;
      left: 15%;
      border-radius: 1rem;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 1);
      position: relative;
      border: 2px solid cornflowerblue;
      .close{
        display: flex;
        justify-content: flex-end;
        color: #CB112D;
        font-size: 1rem;
        margin-right: 1rem;
        cursor: pointer;
        
      }
      h2{
        display: flex;
        justify-content: center;
        font-size: 1.675rem;
        font-family: 'Poppins';
        font-weight: 700;
        color: cornflowerblue;       
    }
    .form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      label{
        color: cornflowerblue;
      }
      
    }
    a{
      color: cornflowerblue;
      font-size: 0.7rem;
      margin: 1rem;
      cursor: pointer;
      text-decoration: none;
      &:hover{
        color: rgb(28, 108, 199);
      }
    }
    .modal-button{
      @include sign-button()
    }
  }
}
}



@mixin sign-button{
    button{
        border: cornflowerblue 2px solid;
        width: 5rem;
        height: 2.5rem;
        border-radius: 7px;
        background-color: cornflowerblue;
        text-decoration: none;
        color: white;
        font-family: "Poppins";
        text-align: center;
        //box-shadow: 2px 2px 5px cornflowerblue;
        cursor: pointer;
            &:hover{
                border: #333;
            }
        }
}