
@mixin modal {
  .overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(8px);
    background-color: rgba(201, 199, 199, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    .modal{
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 60%;
      top: 25%;
      left: 15%;
      border-radius: 1rem;
      transform: translate(-50%, -50%);
      background-color: #F7F7F7;
      position: relative;
      border: 2px solid cornflowerblue;
      .close{
        display: flex;
        justify-content: flex-end;
        color: #CB112D;
        font-size: 1rem;
        margin-right: 1rem;
        cursor: pointer;
      }
      h2, .form, .divider, .modal-button {
        margin-bottom: 5px;
      }
      h2{
        display: flex;
        justify-content: center;
        font-size: 1.675rem;
        font-family: 'Poppins';
        font-weight: 700;
        color: cornflowerblue;       
    }
    .divider {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 5px 20px;
      .line {
        flex: 1;
        height: 1px;
        background-color: #6495ED;
        margin: 0 10px; // Ajusta o espaçamento ao redor do ícone ou texto
      }
      .divider-icon {
        max-width: 50px; // Limita a largura máxima da imagem para torná-la pequena
        height: auto;
        margin-top: 13px; // Mantém a proporção da imagem
      }
    }
    .form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      label{
        color: cornflowerblue;
      }
      input{
        @include form-input;
      }
      
    }
    a{
      color: cornflowerblue;
      font-size: 0.7rem;
      margin: 1rem;
      cursor: pointer;
      text-decoration: none;
      &:hover{
        color: rgb(28, 108, 199);
      }
    }
    .modal-button{
      @include sign-button()
    }
  }
}
}



@mixin sign-button{
    button{
        border: cornflowerblue 2px solid;
        width: 5rem;
        height: 2.5rem;
        border-radius: 7px;
        background-color: cornflowerblue;
        text-decoration: none;
        color: white;
        font-family: "Poppins";
        text-align: center;
        //box-shadow: 2px 2px 5px cornflowerblue;
        cursor: pointer;
            &:hover{
                border: #333;
            }
        }
}

@mixin form-input{
    display: block;
    width: 80%;
    border: 1px solid cornflowerblue ;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: bold;
    color: cornflowerblue;
    &:hover{
      border-color: rgb(28, 108, 199);
    }
  
}