@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-ExtraBold.ttf')format('truetype');
}

nav{
    background: #fff;
  
  section{
      display: flex;
      flex-direction: row;
      max-width: 1400px;
      margin: 0 auto;
      padding: 10px 20px;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: #333;
        text-decoration: none;
        font-family: "Poppins";
      }
      a{
        border: cornflowerblue 2px solid;
        width: 5rem;
        height: 2.5rem;
        border-radius: 7px;
        background-color: cornflowerblue;
        text-decoration: none;
        color: white;
        font-family: "Poppins";
        text-align: center;
        box-shadow: 2px 2px 5px cornflowerblue;
        cursor: pointer;
            &:hover{
                border: #333;
            }
        }
    }
}