@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.ttf')format('truetype');
}

nav{
    background: #fff;
  
  section{
      display: flex;
      flex-direction: row;
      max-width: 1400px;
      
      padding: 10px 20px;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: #333;
        text-decoration: none;
        font-family: "Poppins";
        display: flex;
        justify-content: flex-start;
      }
      .login-signup-buttons{
        display: flex;
        justify-content: flex-end;
      }
    }
}