@import '../mixins';

.table-container {
  width: 100%;
  overflow-x: auto;
  background-color: #fff;
  border-radius: 1px;/* Adicione uma barra de rolagem horizontal, se necessário */
}

/* Estilize a tabela dentro do contêiner */
table{
  width: 100%; /* A tabela ocupará toda a largura do contêiner */
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 1px;
  
}

/* Estilize o cabeçalho da tabela */
th {
  background-color: #3f64a8; /* Cor de fundo para os cabeçalhos */
  text-align: left;
  padding: 10px; /* Aumente o espaço interno para melhor aparência */
  //border-bottom: 1px solid #ddd;
  color: #f5f5f5;
}

td {
  text-align: center;
  padding: 10px; /* Aumente o espaço interno para melhor aparência */
  //border-bottom: 1px solid #ddd;
  color: #5e5e5e;
  input[type="text"] {
    display: block;
    padding: 10px;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: bold;
    color: #5e5e5e
  }
  .mensagem-erro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px 0;
  }
}

td.edit-card-icons{
    text-align: center;
    font-size: 1.7063rem;
    .edit-button{
     color: #6495ED;
      cursor: pointer;
      &:hover{
        color: #023086;
        }
      }
      .delete-button{
        color: #f04e4e;
         cursor: pointer;
         &:hover{
           color: #750404;
           }
     }
     .ok-button{
      color: #3eee38;
       cursor: pointer;
       &:hover{
         color: #026620;
         }
   }
   .cancel-button{
    color: #f04e4e;
     cursor: pointer;
     &:hover{
       color: #750404;
       }
 }
 /* Estilize o cabeçalho para adicionar exercício */
  
.add-exercise-header {
  display: flex;
  justify-content: flex-end; /* Alinha o conteúdo à direita */
  align-items: center; /* Centraliza os itens verticalmente */
  padding: 10px;
  background-color: #fff; /* Cor de fundo */
  .add-exercise-span{
    color: #5e5e5e;
    font-size: 1.2rem;
  }
.add-button {
  @include sign-button;
   button{
      background-color: white;
      color: cornflowerblue;
      &:hover{
         border: 2px solid cornflowerblue;
         box-shadow: 2px 2px 5px cornflowerblue;
      }
   }
  }
}
}



